.vimuser-hidden {
  display: none !important;
}

.vimuser-folded>article {
  display: none;
}

.vimuser-fold-button {
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 0;

  font-size: .8em;
  border-radius: 0;
  height: 20px;
  min-height: 0;
  line-height: 1em;
  padding: 0px 4px;
}

.vimuser-stub, .vimuser-stub:hover, .vimuser-stub:active {
  min-height: 0;
  height: auto;
  display: inline-block;
  font-weight: normal;
  line-height: 1em;
  background-color: #fff;

  text-align: left;
  color: #666;
  padding: 0px 4px;
  border-radius: 0;
  width: calc(100% - 44px); /* Make room for TOP badge */
  text-overflow: ellipsis;
  overflow: hidden;
}
